/* Make the default dots white */
.slick-dots li button:before {
  font-size: 10px;
  color: white !important; /* Use !important to ensure the override */
  opacity: 1; /* Ensure the dots are fully visible */
}

/* Change the active dot color to primary */
.slick-dots li.slick-active button:before {
  color: #f86f03 !important; /* Use the primary color for the active dot */
  opacity: 1; /* Ensure full opacity for the active dot */
}
